<%# PAST TRIPS %>
<div class="tab-pane fade justify-content-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
  <div class="trip-tabs flex-fill">

    <div class="card-group flex-column justify-content-center ">
      <% @user.trips.each do |trip| %>

        <% if trip.date < Time.now %>

          <div class="upcoming-home-card home-card-img">
            <%= link_to market_path(trip.market) do %>
              <%= cl_image_tag trip.market.photos.first.key, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">How was your trip to <%= trip.market.name %>
                <h5> on <%= trip.date %></h5>
                <% trip.users.each do |t| %>
                  <%= link_to user_path(t) do %>
                    <div> You went with <%= t.username %></div>
                  <% end %>
                <% end %>
              </div>
              <div class="card-footer">
                <small class="text-dark"><%= trip.message %></small>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
