<%# PAST TRIPS %>
<div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
  <div class="trip-tabs">
    <div class="card-group">
      <% @user.trips.each do |trip| %>
        <% if trip.date < Time.now %>
          <div class="home-card m-2">
            <%= link_to market_path(trip.market) do %>
              <%= cl_image_tag trip.market.photos.first.key, class: "home-card-img"%>
              <div class="card-body" >
                <h5 class="card-title"><small>How was</small><br> <b><%= trip.market.name %>?</b></h5>
                <p><%= trip.date %></p>
                <% trip.users.each do |t| %>
                  <%= link_to user_path(t) do %>
                    <div><small>You joined</small> <em><%= t.username %></em></div>
                  <% end %>
                <% end %>
              </div>
              <div class="card-footer">
                <div class="text-center"><%= trip.message %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
