<%# PAST TRIPS %>
<div class="tab-pane fade justify-content-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
  <div class="trip-tabs d-flex">
    <div class="card-group flex-fill justify-content-center ">
      <% @user.trips.each do |trip| %>
        <% if trip.date < Time.now %>
          <div class="home-card home-card-img m-2">
            <%= link_to market_path(trip.market) do %>
              <%= cl_image_tag trip.market.photos.first.key, class: "home-card-img"%>
              <div class="card-body" >
                <h5 class="card-title"><small>Went to</small> <b><%= trip.market.name %></b></h5>
                <p><%= trip.date %></p>
                <% trip.users.each do |t| %>
                  <%= link_to user_path(t) do %>
                    <div><small>They joined</small> <em><%= t.username %></em></div>
                  <% end %>
                <% end %>
              </div>
              <div class="card-footer">
                <small class="text-dark text-center"><%= trip.message %></small>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
