<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid">
  <div class="row">
    <div class="head-banner mt-3 d-flex text-center">
      <div class="my-auto text-center">
        <h2 class="ml-5"> Welcome back, <%= @user.username %> !</h2>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid py-5 px-5" style="height: 400px;">

  <div class="row home-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming Trips</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Past Trips</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Your Friends</button>
      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Invitations</button>
    </div>
  </nav>
  <div class="tab-content mb-5 d-flex text-center mt-5" id="nav-tabContent">


    <%# UPCOMING TRIPS %>
    <div class="tab-pane fade show active justify-content-center" id="nav-home" role="tabpanel" aria-labelledby="favourites-tab" tabindex="0">
          <div class="trip-tabs d-flex">

            <div class="card-group flex-fill justify-content-center ">
              <% @user.trips.each do |trip| %>

              <% if trip.date > Time.now %>

              <div class="home-card home-card-img m-2">
              <%= link_to market_path(trip.market) do %>
              <%= cl_image_tag trip.market.photos.first.key, class: "card-img-top" %>
                <div class="card-body" id="myprofile">
                  <h5 class="card-title">Get ready for your trip to <%= trip.market.name %></h5>
                    <%= trip.date %></h5>
                    <% trip.users.each do |t| %>
                    <%= link_to user_path(t) do %>
                      <div> You're going with <%= t.username %></div>
                      <% end %>
                    <% end %>
                </div>
                <% end %>
                <div class="card-footer">
                  <small class="text-dark"><%= trip.message %></small>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>

       <%# PAST TRIPS %>
        <div class="tab-pane fade justify-content-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="trip-tabs flex-fill">

            <div class="card-group flex-column justify-content-center ">
              <% @user.trips.each do |trip| %>

              <% if trip.date < Time.now %>

              <div class="upcoming-home-card home-card-img">
              <%= link_to market_path(trip.market) do %>
              <%= cl_image_tag trip.market.photos.first.key, class: "card-img-top" %>
                <div class="card-body">
                  <h5 class="card-title">How was your trip to <%= trip.market.name %>
                  <h5> on <%= trip.date %></h5>
                    <% trip.users.each do |t| %>
                    <%= link_to user_path(t) do %>
                      <div> You went with <%= t.username %></div>
                      <% end %>
                    <% end %>
                </div>
                <% end %>
                <div class="card-footer">
                  <small class="text-dark"><%= trip.message %></small>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<%# TRIP-BUDDDDDDDIES %>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        <% @friendships.each do |friendship| %>
          <% friend_id = friendship.receiver_id == current_user.id ? friendship.asker_id : friendship.receiver_id%>
          <% friend = User.find(friend_id) %>
          <h5><%= friend.username %></h5>
        <% end %>
      </div>

    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
    <h2>Invitations</h2>
    </div>
  </div>
</div>


    <div class="profile-calendar m-5">
      <%= month_calendar(events: @trips, start_time: :date) do |date, trips| %>
      <%= date %>
        <% trips.each do |trip| %>
          <div class="trip">
            <p><%= trip.message %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<%= render "shared/footer-index" %>
