<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid">
  <div class="row">
    <div class="head-banner-market mt-3 d-flex justify-content-between align-items-center text-center">
      <div class="my-auto text-center">
        <h1 class="ml-5 text-white"> Welcome back, <%= current_user.username %> !</h1>
      </div>
      <div>
         <%= image_tag "logo-fred.png" , class: 'profile my-auto' %>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid py-5 px-5" style="height: 700px;">
  <div class="row home-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming Trips</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Past Trips</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Your Friends</button>
      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Invitations</button>
    </div>
  </nav>
    <div class="tab-content d-flex justify-content-center text-center my-5 pb-5" id="nav-tabContent">
      <%= render 'upcoming_trips' %>
      <%= render 'past_trips' %>
      <%= render 'trip_buddies' %>
      <%= render 'invitations' %>
    </div>
  </div>
</div>

<div class="profile-calendar m-5">
  <%= month_calendar(events: @trips, start_time: :date) do |date, trips| %>
  <%= date %>
    <% trips.each do |trip| %>
      <div class="trip">
        <p><b><%= trip.market.name %></b></p>
        <% trip.users.each do |buddy| %>
          <p>With <%= buddy.username %></p>
        <% end %>
        <p><em><%= trip.message.capitalize %></em></p>

      </div>
    <% end %>
  <% end %>
</div>

<%= render "shared/footer-index" %>
