<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1><%= @stall.name %></h1>
      <h4><%= @stall.description %></h4>
      <h4><%= @stall.category %></h4>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
      <div class="py-4 pl-4 align-middle">
        <%# <%= cl_image_tag @stall.photos[0].key, class: "card-img-top card-img" %>
        <h4> STALL IMAGE </h4>
      </div>
    </div>

  </div>
</div>

<%# Mid-Section %>
<div class="container-fluid review-section">
  <div class="row">
    <%# Left hand review %>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-12 d-flex">
      <div class="show-review">

      </div>
      <div class="show-review">

      </div>
      <div class="show-review">

      </div>
    </div>

    <%# Central Products %>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-12">
      <div class="show-products">
        <div class="show-product">
        </div>
      </div>
    </div>

    <%# Right hand review %>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-12 d-flex">
      <div class="show-review">

      </div>
      <div class="show-review">

      </div>
      <div class="show-review">

      </div>
    </div>
  </div>
</div>

<%# Map Section %>
<div class="container-fluid map-header d-flex">
  <div class="row">

    <%# Map %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-map-header">
      <h1>Map Section</h1>
    </div>

    <%# Address %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-address-header flex-fill">
      <div class="py-4 pl-4 align-middle">
        <%# <%= cl_image_tag @stall.photos[0].key, class: "card-img-top card-img" %>
        <h2> Trading at <%= @stall.market.name %> </h2>
        <h3> Address <%= @stall.market.name %>
        <h4> Trades on days </h4>

        <%# Socials %>
        <div class="socials">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
          <!-- Instagram -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>

  </div>
</div>
