<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid home-header">
  <div class="row">

    <div class="head-banner-market justify-content-center  my-auto">
      <h1><%= @stall.name %></h1>
      <h5><%= @stall.description %></h5>
      <h5><%= @stall.category %></h5>

            <div class="socials">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>

  </div>
</div>


<%# Mid-Section %>
<div class="container-fluid review-section text-center d-flex justify-content-center">
  <div class="row">
    <% if @stall.reviews %>
    <%# Left hand review %>
    <% @stall.reviews.each do |r| %>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-12 ">
        <div class="show-review p-4 m-2">
            <small><%= r.rating %></small>
            <p><%= r.description %></p>
            <%= link_to "Delete", review_path(r), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# Central Products %>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-12 mx-auto center-review my-auto d-flex justify-content-center">
      <div class="show-products d-flex">
        <div class="show-product p-4 m-2">
          <h5>Fine appalacian llama<h5>
          <p>Grown in the wilds of borneo</p>
        </div>

        <div class="show-product p-4 m-2">
          <h5>Sensation sardinian salmon<h5>
          <p>Grown in the wilds of borneo</p>
        </div>
      </div>

      <div class="show-products d-flex">
        <div class="show-product p-4 m-2">
          <h5>Sensation sardinian salmon<h5>
          <p>Fine appalacian llama</p>
        </div>

        <div class="show-product p-4 m-2">
          <h5>Sensation sardinian salmon<h5>
          <p>Grown in the wilds of borneo</p>
        </div>
      </div>
    </div>

    <%# Right hand review %>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-12 d-flex justify-content-center">
      <div class="show-review p-4 m-2">

      <%# render "shared/reviews" %>

    </div>
  </div>
</div>
</div>
<%# Map Section %>
<div class="container-fluid map-header">
  <div class="row">


    <%# Address %>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 split-address-header flex-fill">
    <%# @stall.markets.each do |market| %>
      <div class="py-4 pl-4 align-middle">
        <%# cl_image_tag @stall.photos[0].key, class: "card-img-top card-img" %>
        <%# <%= cl_image_tag @market.photos.first.key, class: "card-img-top"%>
      <ul class="list-group list-group-flush d-flex px-5">
        <% @stall.markets.each do |market| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">Trading <%= market.name %> <%= link_to market_path(market), class: "btn, btn-primary" %></li>
        <% end %>
      </ul>
      </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 split-address-header flex-fill">
      <div class="py-4 pl-4 align-middle">
      <% if current_user.stalls.include?(@stall) %>
      <h2> Leave a review! </h2>
      <%= render "shared/reviewsform" %>
      <% end %>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid">
  <h4 style="height:200px">Carousel</h4>
</div>

<%= render "shared/footer" %>
