<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1><%= @stall.name %></h1>
      <h4><%= @stall.description %></h4>
      <h4><%= @stall.category %></h4>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
      <div class="py-4 pl-4 align-middle">
        <%= cl_image_tag @stall.photos[0].key, class: "card-img-top card-img" %>
        <h4> STALL IMAGE </h4>
      </div>
    </div>

  </div>
</div>


<%# Mid-Section %>
<div class="container-fluid review-section d-flex flex-row text-center">
  <div class="row">
    <%# Left hand review %>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-12 d-flex">
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
    </div>


    <%# Central Products %>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-12 mx-auto my-auto show-products">
      <div class="show-products">
        <div class="show-product">
          <p>Product1</p>
        </div>
        <div class="show-product">
          <p>Product2</p>
        </div>
        <div class="show-product">
          <p>Product3</p>
        </div>
        <div class="show-product">
          <p>Product4</p>
        </div>
      </div>
    </div>

    <%# Right hand review %>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-12 d-flex flex-row">
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
      <div class="show-review p-2">
        <p>Fake review Fake review Fake review Fake review Fake
        review Fake review Fake review Fake review Fake review Fake
         review</p>
      </div>
    </div>
  </div>
</div>


<%# Map Section %>
<div class="container-fluid map-header">
  <div class="row">

    <%# Map %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-map-header">
      <h1>Map Section</h1>
    </div>

    <%# Address %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-address-header flex-fill">
      <div class="py-4 pl-4 align-middle">
        <%# <%= cl_image_tag @market.photos[0].key, class: "card-img-top card-img" %>
        <h2> Trading at <%= @stall.market.name %> </h2>
        <h3> Address <%= @stall.market.address %>
        <h4> Trades on days </h4>

        <%# Socials %>
        <div class="socials">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
          <!-- Instagram -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container-fluid">
  <h4>Carousel</h4>
</div>
<%# https://codepen.io/hellomev/pen/LYORMQW %>
