<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid">
  <div class="row">
    <div class="head-banner-market my-3 d-flex">
      <div class="my-auto">
        <h2>myMarkets, Our Markets, Your Market</h2>
        <h4>Your Choice!</h4>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm-2">
      <div class="btn-group" role="group" aria-label="Filter by">
        <button type="button" class="btn btn-secondary" data-filter-type="wheelchair_access">Wheelchair Access</button>
        <button type="button" class="btn btn-secondary" data-filter-type="parking">Parking</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="dropdown" id="wheelchair-access-filter" style="display: none;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="wheelchair-access-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Wheelchair Access
        </button>
        <ul class="dropdown-menu" aria-labelledby="wheelchair-access-dropdown">
          <li><a class="dropdown-item" href="#" data-filter-value="yes">Yes</a></li>
          <li><a class="dropdown-item" href="#" data-filter-value="no">No</a></li>
        </ul>
      </div>
      <div class="dropdown" id="parking-filter" style="display: none;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="parking-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Parking
        </button>
        <ul class="dropdown-menu" aria-labelledby="parking-dropdown">
          <li><a class="dropdown-item" href="#" data-filter-value="yes">Yes</a></li>
          <li><a class="dropdown-item" href="#" data-filter-value="no">No</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-secondary" id="clear-filters">Clear all filters</button>
    </div>
  </div>
</div>


<div class="container-fluid pt-3">
  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="d-flex mx-auto" style="width: 45%; height: 500px; position: fixed; left: 50px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>


<%# Add sticky top to map instead of fixed  %>



    <%# Card Group Layout %>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 market-index">
    <%# Card Layout %>
    <% @markets.each do |market| %>
      <%= link_to market_path(market) do %>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="index-card card home-card-img h-100 mx-2">
              <%= cl_image_tag market.photos.first.key, class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= market.name %></h5>
                <p class="card-text"><%= market.bio %></p>
              </div>
              <div class="card-footer">
                <small class="text-dark"><%= market.website %></small>
              </div>
              <div class="card-footer-icon d-inline-flex">
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <i class="fa-solid fa-wheelchair"></i>
                  <%# <p>Wheelchair Access</p> %>
                  <% if @market.wheelchair_access %>
                    <%= @market.wheelchair_access %>
                  <% end %>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <i class="fa-solid fa-paw"></i>
                  <%# <p>Pet Friendly</p> %>
                  <% if @market.pet_friendly %>
                    <%= @market.pet_friendly %>
                  <% end %>
                </div>

                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <i class="fa-solid fa-square-parking"></i>
                  <%# <p>Parking</p> %>
                  <% if @market.parking %>
                    <%= @market.parking %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer-index" %>
