<%= form_with url: markets_path, method: :get do |form| %>

  <div class="container-fluid">
    <div class="row">
      <div class="head-banner-market py-2 ">
        <div class="my-auto d-flex justify-content-around">
          <div class="mt-4 ml-5 text-center text-white">
            <h1>Find markets near you<br> Filter your choices<br> Discover your options</h1><br>
          </div>
          <div class="market-filters justify-content-center mt-4">

            <div class="filter-labels d-flex mr-4 mt-3">

              <div class="ml-4 mr-0">
                <%= form.label :wheelchair_access do %>
                  <i class="fa-solid fa-wheelchair mt-2" style= "color: hsl(124, 27%, 80%)"></i>
                <% end %>
                <%= form.check_box :wheelchair_access, checked: params[:wheelchair_access] == "1" %>
              </div>
              <div class="ml-4 mr-0">
                <%= form.label :parking do %>
                  <i class="fa-solid fa-square-parking mt-2" style= "color: hsl(124, 27%, 80%)"></i>
                <% end %>
                <%= form.check_box :parking, checked: params[:parking] == "1" %>
              </div>
              <div class="ml-4 mr-0">
                <%= form.label :pet_friendly do %>
                  <i class="fa-solid fa-paw mt-2" style= "color: hsl(124, 27%, 80%)"></i>
                <% end %>
                <%= form.check_box :pet_friendly, checked: params[:pet_friendly] == "1" %>
              </div>
            </div>

            <div class="text-center justify-content-around pt-">
                <%= form.text_field :query, value: params[:query], class: "form-control home-form", placeholder: "Find a market"%><br>
                <%= form.submit "Filter", class: "btn btn-home" %>
                <%= form.submit "Clear filters", class: "btn btn-home" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6  text-center ">



        <div class="d-flex mx-auto mt-2" style="width: 90%; height: 560px; position: sticky; top: 50px; left: 50px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
<% end %>

    <%# Card Group Layout %>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 market-index">
    <%# Card Layout %>

    <% @markets.each do |market| %>
      <%= link_to market_path(market) do %>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="index-card card home-card-img h-100 mx-2 my-2">
            <% if market.photos.attached? %>
              <%= cl_image_tag market.photos.first.key, class: "card-img-top"%>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1535202610320-919f9b13de77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9vZCUyMG1hcmtldHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" , class: "card-img-top"%>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= market.name %></h5><span>

                <p class="card-text"><%= market.bio %></p>
              </div>
              <div class="card-footer-icon d-inline-flex justify-content-end">
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 py-2 market-icon text-center">
                  <%# <p>Parking</p> %>
                  <% if market.parking == true %>
                    <i class="fa-solid fa-square-parking fa-xl"></i>
                  <% end %>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 py-2 market-icon text-center">
                  <%# <p>Pet Friendly</p> %>
                  <% if market.pet_friendly == true %>
                  <i class="fa-solid fa-paw fa-xl"></i>
                  <% end %>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 py-2 market-icon text-center">
                  <%# <p>Wheelchair Access</p> %>
                  <% if market.wheelchair_access == true %>
                    <i class="fa-solid fa-wheelchair fa-xl"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer-index" %>
