<%= form_with url: markets_path, method: :get do |form| %>
  <%# Basic Hero/Jumbo/Header %>
  <div class="container-fluid">
    <div class="row">
      <div class="head-banner-market my-3 d-flex">
        <div class="my-auto">
          <h2>myMarkets, Our Markets, Your Market</h2>
          <h4>Your Choice!</h4>
          <div class="text-center pt-2">
              <%= form.text_field :query, value: params[:query], class: "form-control home-form", placeholder: "Find a market" %>
              <%= form.submit "Search", class: "btn btn-primary btn-home" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-sm-2">
          <%= form.label :wheelchair_access do %>
            <i class="fa-solid fa-wheelchair"></i>
          <% end %>
          <%= form.check_box :wheelchair_access, checked: params[:wheelchair_access] == "1" %>
          <%= form.label :parking do %>
            <i class="fa-solid fa-square-parking"></i>
          <% end %>
          <%= form.check_box :parking, checked: params[:parking] == "1" %>
          <%= form.label :pet_friendly do %>
            <i class="fa-solid fa-paw"></i>
          <% end %>
          <%= form.check_box :pet_friendly, checked: params[:pet_friendly] == "1" %>
          <%= form.submit "Filter" %>
          <%= form.submit "Clear filters" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container-fluid pt-3">
  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="d-flex mx-auto" style="width: 90%; height: 500px; position: sticky; top: 50px; left: 50px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>


<%# Add sticky top to map instead of fixed  %>



    <%# Card Group Layout %>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 market-index">
    <%# Card Layout %>

    <% @markets.each do |market| %>
      <%= link_to market_path(market) do %>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="index-card card home-card-img h-100 mx-2 my-2">
              <%= cl_image_tag market.photos.first.key, class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= market.name %></h5><span>

                <p class="card-text"><%= market.bio %></p>
              </div>
              <div class="card-footer-icon d-inline-flex">
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <%# <p>Wheelchair Access</p> %>
                  <% if market.wheelchair_access == true %>
                    <i class="fa-solid fa-wheelchair"></i>
                  <% end %>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <%# <p>Pet Friendly</p> %>
                  <% if market.pet_friendly == true %>
                  <i class="fa-solid fa-paw"></i>
                  <% end %>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 market-icon text-center">
                  <%# <p>Parking</p> %>
                  <% if market.parking == true %>
                    <i class="fa-solid fa-square-parking"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer-index" %>
