<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-3">
      <h2>Pick Your Market</h2>
      <p>Plenty of markets to suit your needs</p>
    </div>
  </div>
</div>

<%# Card Group Layout %>
<div class="container">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">


  <%# Card Layout %>
    <% @markets.each do |market| %>
      <%= link_to market_path(market) do %>
          <div class="col">
            <div class="card home-card-img h-100">
              <%# <%= cl_image_tag market.photos.first.key, class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= market.name %></h5>
                <p class="card-text"><%= market.bio %></p>
                <p class="card-text"><%= market.address %></p>
                <p class="card-text"><%= market.phone_number %></p>
                <p class="card-text"><%= market.bio %></p>
              </div>
              <div class="card-footer">
                <small class="text-white"><%= market.website %></small>
              </div>
              <div class="card-footer">
                <small class="text-white"><%= market.wheelchair_access %></small>
                <small class="text-white"><%= market.parking %></small>
                <small class="text-white"><%= market.pet_friendly %></small>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
