<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid home-header">
  <div class="row">

    <div class="head-banner-market text-white justify-content-center py-3 pl-5">
      <h1><%= @market.name %> <span class="pl-4">
        <% if @market.reviews.exists? %>
        <%= @market.average_rating / @market.reviews.count %></span><span><i class="fa-regular fa-star pl-1"></i></span></h1>
        <% end %>
      <h4><%= @market.bio %></h4>
      <p> <%= @market.address %></p>

      <div class="socials">
        <% if @market.phone_number %>
        <i class="fa-solid fa-phone pb-3"></i>
          <%= @market.phone_number %>
        <% end %>
        <br>
        <% if @market.website %>
          <a class="fa-solid fa-laptop text-white m-1 mb-2" href="<%= @market.website %>"></a>
        <% end %>

        <% if @market.wheelchair_access == true %>
        <i class="fa-solid fa-wheelchair m-1"></i>
        <% end %>

        <% if @market.pet_friendly == true  %>
        <i class="fa-solid fa-paw m-1"></i>
        <% end %>

        <% if @market.parking == true %>
        <i class="fa-solid fa-square-parking m-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%# MAPBOX WITH FILTERS %>
<div class="container-fluid pt-3">
  <div class="row mx-auto">
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 text-center market-index mx-auto">
      <% @stalls.each do |stall|7%>
      <%= link_to stall_path(stall) do %>
        <div class="col">
          <div class="index-card home-card-img h-100 mx-2 my-2">
            <%= cl_image_tag stall.photos.first.key, class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title"><%= stall.name %></h5>
              <p class="card-text"><%= stall.description %></p>
              <p class="card-text"><%= stall.category %></p>
            </div>
            <div class="card-footer-icon">
              <div class=" text-center">
                <i class="fa-solid fa-laptop"></i><br>
                <%# <p>Wheelchair Access</p> %>
                <% if stall.website_url %>
                  <%= stall.website_url %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>


    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 split-address-header" >

      <%# <div class="opening-times d-flex justify-content-center"> %>
        <div class="text-center my-2" style="width:80%">
        <h2>Market Opening Times</h2>

        <% days = { 0 => "mon", 1  => "tue", 2 => "wed", 3 => "thur", 4 => "fri", 5 => "sat", 6 => "sun"} %>

        <ul class="list-group list-group-flush d-flex justify-content-center">
          <% days.each do |int, day| %>
              <%if @market.days[int].open == true %>
                <li class="list-group-item d-flex justify-content-between align-items-center"><span><%= day.capitalize %></span> <span><%= @market.days[int].opening_time.hour %>:00 - <%= @market.days[int].closing_time.hour %>:00 </span></li>
              <% else %>
                <li class="list-group-item d-flex justify-content-between align-items-center"><%= day.capitalize  %><span>Closed</span></li>
              <% end %>
          <% end %>
        </ul> <%#<%= @market.open%>

        <% if @trip.errors.any?  %>
  `             <script defer>
            function showModal() {
              new bootstrap.Modal('#tripModal').show();
            }
            showModal();
          </script>
        <% end %>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary px-5 mx-5 w-75" data-bs-toggle="modal" data-bs-target="#tripModal">
          Pin To Calendar
        </button>


            <!-- Modal -->
            <div class="modal fade" id="tripModal" tabindex="-1" aria-labelledby="tripModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <%= simple_form_for [@market, @trip] do |trip_form| %>
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title d-flex align-center" id="tripModalLabel">Book Your Trip</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%# trip_form.label "" %>
                      <%= trip_form.input :message, label: "Send a message"%>
                      <%= trip_form.input :date, label: "Pick a day", class: "mr-2", html5: true, as: :string, input_html: { data: { controller: "datepicker" }}%>
                    <div class="d-flex">
                      <% @friendships.each do |friend| %>
                        <div class="check-inputs">
                          <%= trip_form.collection_check_boxes :user_ids, User.where(id: friend.receiver_id) || User.where(id: friend.asker_id), :id, :username, include_hidden: false %>
                          <div class="modal-footer justify-content-center">
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <%= trip_form.submit class: "btn btn-primary w-80" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div style="width: 80%; height: 400px; padding-top: 0%; margin-top: 0%"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>



    </div>
  </div>
</div>

<div class="inline-flex justify-content-center mx-auto text-center mb-2 head-banner-market pb-4">
<h2 class="my-2 pt-3 pb-3"> Discover more of <%= @market.name %>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner pt-4">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= cl_image_tag @market.photos[0].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[1].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[2].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[3].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[4].key, class: "carousel-img w-20"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <%= cl_image_tag @market.photos[0].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[1].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[2].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[3].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[4].key, class: "carousel-img w-20"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <%= cl_image_tag @market.photos[0].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[1].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[2].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[3].key, class: "carousel-img w-20"%>
      <%= cl_image_tag @market.photos[4].key, class: "carousel-img w-20"%>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>


<%= render "shared/footer-index" %>
