<%# Basic Hero/Jumbo/Header %>
<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1><%= @market.name %></h1>
      <h4><%= @market.bio %></h4>
      <p> Address <%= @market.address %></p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
      <div class="py-4 pl-4 align-middle">
        <%= cl_image_tag @market.photos[0].key %>
        <h4> MARKET IMAGE </h4>
      </div>
    </div>

  </div>
</div>


<%# Map Section %>
<div class="container-fluid map-header">
  <div class="row">


    <%# Address %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-address-header flex-fill">
      <div class="py-4 pl-4 text-center">
        <%# <%= cl_image_tag @market.photos[0].key, class: "card-img-top card-img" %>
        <h4>Market Opening Times</h4>
        <ul class="list-group list-group-flush d-flex px-5">
          <li class="list-group-item d-flex justify-content-between align-items-center">Mon<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Tue<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Wed<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Thur<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Fri<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Sat<span>date</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Sun<span>date</span></li>
        </ul> <%#<%= @market.open%>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary px-5 mx-5 w-75" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Pin To Calendar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="insert-in-list">
          <div class="modal-dialog">

            <%= simple_form_for [@market, @trip], data: { insert_in_list_target: "form", action: "submit->insert-in-list#send"} do |trip_form|%>

              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <%= trip_form.input :message %>
                  <%= trip_form.input :date, html5: true, as: :string, input_html: { data: { controller: "datepicker" }}%>

                    <%= trip_form.simple_fields_for :trip_buddies do |buddy_form| %>
                      <%= buddy_form.collection_check_boxes :user_id, User.all, :id, :username, include_hidden: false %>
                    <% end %>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%= trip_form.submit class: "btn btn-primary" %>
                </div>
              </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>


    <%# Map %>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-map-header">
      <h1>Map Section</h1>
    </div>

  </div>
</div>

<div class="container-fluid traders-carousel" >
  <div class="row">
    <h5>Explore Traders</h5>
    <p>Traders Carousel</p>

  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <h5> Things to know! </h5>
  </div>

  <div class="row d-flex">
    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Phone Contact</p>
      <p><%= @market.phone_number %></p>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Website</p>
      <p><%= @market.website %></p>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Wheelchair Access</p>
      <% if @market.wheelchair_access %>
        <%= @market.wheelchair_access %>
      <% end %>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Pet Friendly</p>
      <% if @market.pet_friendly %>
        <%= @market.pet_friendly %>
      <% end %>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Local Transport</p>
      <p><%= @market.phone_number %></p>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <i class="fa-solid fa-phone"></i>
      <p>Parking</p>
      <% if @market.parking %>
        <%= @market.parking %>
      <% end %>
    </div>
  </div>
<div>
